<!DOCTYPE html>
<html>
<head>
    <title>Utilisateur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="navbar">
        <a href="{{ url_for('update_account') }}" class="update-link">Modifier Compte</a>
        <a href="{{url_for('verificator')}}"class="verificator">Vérificateurs</a>
        <a href="{{url_for('result_verificator')}}"class="result-verificator">Mes résultats</a>
        <a href="/logout" class="logout-link">Déconnexion</a>  
    </header>
    <section class="user-section">
        <div class="container">
          <h2>Bienvenue, {{username}}!!!</h2>
            <form method="POST">
                <div class="form-group">
                    <label for="link">Entrez l'info à vérifier :</label>
                    <textarea type="text" name="link" id="link" rows=15,cols=85 required></textarea>
                </div>
                <button type="submit" class="btn">Vérifier</button>
            </form>
    </section>
    <!-- Le reste du contenu de la page -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
